[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
jupyter = "*"
numpy = "*"
ipython = "*"
nltk = "*"
flask = "*"
django = "*"
django-picklefield = "*"

[requires]
python_version = "3.7"
